@import url('./style.css');
.create-section {
    width: 100%;
    height: 100v;
    display: flex;
    align-items: center;
    justify-content: center;
}

.create-form {
    width: 60%;
    background-color: var(--color-secondary);
}

input, select, textarea {
    padding: 12px;
    width: 100%;
    border-radius: 8px;
}
textarea {
    height: 200px;
}


button {
    padding: 12px;
    border-radius: 8px;
    background-color: var(--color-primary);
    color: var(--color-primary-light);
}